<ion-header>

  <ion-navbar>
    <ion-title>Sohbet</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="createGroup()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-list>
    <h1>Lobby</h1>
    <ion-item-sliding *ngFor="let l of lobby">
      <button ion-item (click)="openItem(l)">
        <h2>{{l.name}}</h2>
      </button>
    </ion-item-sliding>

    <h1>Gruplar</h1>
    <ion-item-sliding *ngFor="let group of Group">
      <button ion-item (click)="openItem(group)">
        <h2>{{group.name}}</h2>
      </button>
    </ion-item-sliding>
  </ion-list>
  <ion-list>
      <h1>Kişiler</h1>
      <ion-item-sliding *ngFor="let user of Users">
        <button ion-item (click)="createP2P(user)">
          <h2>{{user.userName}}</h2>
        </button>
      </ion-item-sliding>
    </ion-list>
</ion-content>